.container {
    max-width: 960px;
  }
  
  .site-header {
    background-color: rgb(49, 233, 178);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: rgb(0, 0, 0);
    transition: ease-in-out color .30s;
  }
  .site-header a:hover {
    color: white;
    text-decoration: black;
  }
  
  
  .product-device {
    position: absolute;
    right: 5%;
    bottom: 0%;
    width: 300px;
    height: 700px;
    border-radius: 0%;
  }
  
  
  .lava{
    position: absolute;
    width: 4000px;
    height: 2000px;
    left: -50cm;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .btn{
    background-color: rgb(49, 233, 178);
    color: rgb(255, 255, 255);
  }
  
  .margem{
    margin: 2cm;
  }

  .destaque{
    color: rgb(98, 0, 255);
    margin: 2cm;
  }

  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }